<div>
  <div class="sbb-search-container">
    <div class="route-inputs">
      <div class="route-decorator">
        <span class="circle"></span>
        <div class="line"></div>
        <div class="line-space"></div>
        <span class="circle"></span>
      </div>
      <div class="input-fields">
        <input type="text" [formControl]="searchControl" placeholder="Search...">
      </div>
      <button class="icon-search-button" (click)="onSearchClick()" [disabled]="!selectedItem">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
        </svg>
      </button>

    </div>
  </div>

  @if (locationOptionsDisply && locationOptionsDisply.length > 0){
    <ul class="item-list">
    @for (location of locationOptionsDisply; track location.item.id){
      <li 
        class="result-item"
        [class.favorite-item]="location.isFav"
        (click)="onItemSelect(location.item)"
      >
        <span class="transport-icon">
          @switch (location.item.mode){
            @case ('rail') {🚆}
            @case ('bus') {🚍}
            @case ('water') {🚢}
            @case ('tram') {🚊}
          }
        </span>
        <span class="item-name">{{location.item.name}}</span>
        <span 
          class="star-icon"
          [class.filled]="location.isFav"
          (click)="toggleFav(location.item, $event)"
        >{{ location.isFav ? '★' : '☆' }}</span>
      </li>
    }
    </ul> 
  }
  @else {
    <div></div>
  }
</div>
