<div class="home-flex">
  <app-select-options
    [locationOptionsDisply]="locationOptionsDisplay$ | async"
    (locationOptionsSearch)="onSearchLocationOptions($event)"
    (detailSearch)="onSearchDetail($event)"
    (toggleFavorite)="onFavToggleClicked($event)"
    >
  </app-select-options>
  <!-- <div>
    @if (locationDetail$ | async; as details){
      <label>
        <input type="checkbox" [formControl]="autoSearch">
        Auto Refresh Button
      </label>
    }
  </div> -->
  <app-station-board
    [stationDetails]="locationDetail$ | async"
    (autoSearchToggle)="onAutoSearchToggle($event)"
  ></app-station-board>
</div>