
@if (currentTime$ | async; as now){
  <div class="station-board">
  <header>
    <div class="current-time">{{ now | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
    <label>
        <input type="checkbox" [formControl]="autoSearchControl">
        Auto Refresh Button
      </label>
  </header>
  @if (stationDetails && stationDetails.length > 0){
    <ul class="departure-list">
      @for (detail of stationDetails; track detail.id){
        <li class="departure-item">
          <div class="main-info">
            <span class="name">{{ detail.name }}</span>
            <span class="transport-icon">
              @switch (detail.mode){
                @case ('rail') {🚆}
                @case ('bus') {🚍}
                @case ('water') {🚢}
                @case ('tram') {🚊}
              }
            </span>
            @if (detail.mode === 'bus') {
              <span class="">{{ detail.publicCd }}</span>
            }
            <span class="destination">Nach {{ detail.destination }}</span>
          </div>
          <div class="time-info">
            <div class="planned-time">
              <span>Planned</span>
              <span>
                {{detail.ttTime | date:'yyyy-MM-dd HH:mm:ss' }}
              </span>
            </div>
            <div class="estimated-time">
              <span>Estimated</span>
              <span [ngClass]="isDelayed(detail)" >
                {{detail.etTime | date:'yyyy-MM-dd HH:mm:ss'}}
              </span>
            </div>
            <div class="remaining-time">
              <span [ngClass]="getRemainingTimeClass(detail.etTime, now)" >
                {{detail.etTime | remainingTime:now }}
              </span>
            </div>
          </div>
        </li>
      }
    </ul>
    }
  </div>
}
